<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="row">
    @if (title.length > 0) {
    <div class="title-container">
      <span class="title">
        {{ title | translate }}
      </span>
    </div>
    }
  </div>
  <div class="item-list-container">
    <ng-content></ng-content>
    <div class="row">
      <div class="col-12 d-flex gap-2 mb-2">
        <button class="btn btn-outline-success" type="button" (click)="addItem()">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button class="btn btn-outline-danger" type="button" (click)="removeItem()" [disabled]="selectedItemIndex < 0">
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>
      <div class="col-12">
        <div class="list-box">
          @if (items.length > 0) {
          <ul>
            @for (item of items; track trackByFn(i, item); let i = $index) {
            <li class="item" [class.selected]="i === selectedItemIndex" (click)="selectItem(i)">
              <div class="item-description">{{ item[bindLabel] }}</div>
            </li>
            }
          </ul>
          } @else {
          <div class="no-items">{{ "NO_ITEMS" | translate }}</div>
          }
        </div>
      </div>
    </div>
  </div>