<div>
  <!-- Department row -->
  <div class="row">
    <form class="row g-3 needs-validation" (ngSubmit)="onSubmit()">
      <app-searchable-dropdown inputId="departmentDataList" listId="departmentList" labelText="DEPARTMENT"
        [control]="departmentControl" [items]="departmentData" [showBindButton]="true" [iconName]="iconName"
        (search)="onDepartmentSearch($event)" (selectionChange)="onDepartmentSelected($event)"
        (bindClick)="onDepartmentBindClick()">
      </app-searchable-dropdown>
      <app-box-list [items]="rolesToBind" [bindLabel]="'description'" (add)="addRoleToList()"
        (remove)="deleteRoleToList($event)">
        <app-searchable-dropdown inputId="roleDataList" listId="roleList" labelText="ROLE" [control]="roleControl"
          [items]="roleData || []" (search)="onRoleSearch($event)" (selectionChange)="onRoleSelected($event)"
          style="margin-bottom: 10px"></app-searchable-dropdown>
      </app-box-list>
      <div>
        <button type="submit" class="btn btn-outline-success col-sm-2">{{'BIND' | translate}}</button>
      </div>
    </form>
  </div>
</div>