<div class="container">
  <app-dynamic-form [title]="'DEPARTMENT' | translate" [formGroup]="formGroup" [onCreate]="handleCreate.bind(this)">
    <div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ 'NAME' | translate }}</span>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ 'DESCRIPTION' | translate }}</span>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"
              formControlName="description">
          </div>
        </div>
      </div>
    </div>
  </app-dynamic-form>
  <div class="row">
    <div class="col-md-6">
      <app-dynamic-table [data]="dataTable" [canEdit]="true" (onEdit)="handleEdit($event)"
        (onPageChange)="fetchDepartments($event)" [totalPages]="totalPages" [totalItems]="totalItems"
        [currentPage]="currentPage" [pageSize]="pageSize"></app-dynamic-table>
    </div>
  </div>
</div>