<!-- ROW FACTORS TABLE -->
@if (assessment() && assessment()?.rows) {
<table class="risk-table">
    <thead>
        <tr (dblclick)="onHeaderDblClick()">
            <th class="actions-column">{{"ACTIONS" | translate}}</th>
            <th class="factor-column">{{"FACTOR" | translate}}</th>
            <th class="intensity-column">{{"INTENSITY" | translate}}</th>
            <th class="technique-column">{{"TECHNIQUE" | translate}}</th>
            <th class="source-column">{{"SOURCE" | translate}}</th>
            <th class="exposure-column">{{"EXPOSURE_TIME" | translate}}</th>
            <th class="harm-column">{{"HARM" | translate}}</th>
            <th class="matrix-column">{{"PROBABILITY" | translate}}</th>
            <th class="matrix-column">{{"SEVERITY" | translate}}</th>
            <th class="score-column">{{"SCORE" | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <!-- INSERT OR EDIT ROW FACTOR -->
        @if(isInserting() || isEditing()){
        <tr class="factor-row">
            <td class="actions-column">
                <div class="d-flex gap-1">
                    <button class="btn btn-sm btn-outline-success w-100" (click)="onSaveClick()"
                        title="{{ 'SAVE' | translate }}">
                        <i class="bi bi-save"></i>
                    </button>
                    @if(isEditing()){
                    <button class="btn btn-sm btn-outline-danger w-100" (click)="onCancelClick()"
                        title="{{ 'CANCEL' | translate }}">
                        <i class="bi bi-x"></i>
                    </button>
                    }
                </div>
            </td>
            <td class="factor-column">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newRow.factor!.description">
            </td>
            <td class="intensity-column">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newRow.intensity">
            </td>
            <td class="technique-column">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newRow.technique">
            </td>
            <td class="source-column">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newRow.source">
            </td>
            <td class="exposure-column">
                <select class="form-select form-select-sm" [(ngModel)]="newRow.exposureTime">
                    @for(opt of exposureTimeOptions; track opt) {
                    <option [value]="opt">{{ getExposureTimeEnumString(opt) | translate }}</option>
                    }
                </select>
            </td>
            <td class="harm-column">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newRow.harm">
            </td>
            <td class="matrix-column">
                <select class="form-select form-select-sm" [(ngModel)]="newRow.probability">
                    @for(opt of matrixOptions; track opt) {
                    <option [value]="opt">{{ getMatrixEnumString(opt) | translate }}</option>
                    }
                </select>
            </td>
            <td class="matrix-column">
                <select class="form-select form-select-sm" [(ngModel)]="newRow.severity">
                    @for(opt of matrixOptions; track opt) {
                    <option [value]="opt">{{ getMatrixEnumString(opt) | translate }}</option>
                    }
                </select>
            </td>
            <td></td>
        </tr>
        }
        @for (row of assessment()?.rows; track row) {
        <tr class="factor-row">
            <td class="actions-column">
                <div class="actions-container">
                    <div class="dropdown w-100">
                        <button class="btn btn-sm btn-outline-secondary w-100" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"
                            [disabled]="isEditing() || isInserting() || isInsertingControlMesure()">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onEditClick(row)"
                                    title="{{ 'EDIT' | translate }}">
                                    <i class="bi bi-pencil me-2"></i> {{ 'EDIT' | translate }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onDeleteClick(row)"
                                    title="{{ 'DELETE' | translate }}">
                                    <i class="bi bi-trash me-2"></i> {{ 'DELETE' | translate }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onInsertControlMesureClick(row)"
                                    title="{{ 'INSERT_CONTROL_MEASURE' | translate }}">
                                    <i class="bi bi-save me-2"></i> {{ 'INSERT_CONTROL_MEASURE' | translate }}
                                </button>
                            </li>
                        </ul>
                    </div>
                    @if(row.controlMeasures && row.controlMeasures.length > 0){
                    <button class="btn btn-sm btn-outline-secondary w-100" (click)="toggleRow(row)"
                        title="{{ 'CONTROL_MEASURES' | translate }}"
                        [disabled]="isEditing() || isInserting() || isInsertingControlMesure()">
                        <i class="bi" [ngClass]="isRowExpanded(row) ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
                    </button>
                    }
                </div>
            </td>
            <td class="factor-column">{{row.factor.description}}</td>
            <td class="intensity-column">{{row.intensity}}</td>
            <td class="technique-column">{{row.technique}}</td>
            <td class="source-column">{{row.source}}</td>
            <td class="exposure-column">{{getExposureTimeEnumString(row.exposureTime) | translate}}</td>
            <td class="harm-column">{{row.harm}}</td>
            <td class="matrix-column">{{getMatrixEnumString(row.probability) | translate}}</td>
            <td class="matrix-column">{{getMatrixEnumString(row.severity) | translate}}</td>
            <td [ngClass]="
                {'danger': row.score && row.score == 5,
                    'warn': (row.score && row.score == 4)
                }">
                {{getRiskString(row.score || 100) | translate}}
            </td>
        </tr>
        <!-- CONTROL MEASURES -->
        @if (isRowExpanded(row)) {
        <tr class="control-measures-subtable">
            <td colspan="10" class="p-0 border-0">
                <div class="p-3 bg-light m-2 rounded border">
                    <h6 class="mb-3">{{ "CONTROL_MEASURES" | translate }}</h6>
                    <table class="table table-sm table-bordered bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="actions-column-cm">{{ "ACTIONS" | translate }}</th>
                                <th class="administrative-measure-column-cm">{{ "ADMINISTRATIVE_MEASURE" | translate }}
                                </th>
                                <th class="epi-column-cm">{{ "EPI" | translate }}</th>
                                <th class="epc-column-cm">{{ "EPC" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(isEditingControlMesure() || isInsertingControlMesure()){
                            <tr>
                                <td class="actions-column-cm">
                                    <div class="actions-container">
                                        <button class="btn btn-sm btn-outline-success w-100"
                                            (click)="onSaveControlMesureClick()" title="{{ 'SAVE' | translate }}">
                                            <i class="bi bi-save"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger w-100"
                                            (click)="onCancelEditControlMesureClick(row)"
                                            title="{{ 'CANCEL' | translate }}">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="controlMesure.administrativeMeasures">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="controlMesure.epi">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="controlMesure.epc">
                                </td>
                            </tr>
                            }
                            @if (row.controlMeasures && row.controlMeasures.length > 0) {
                            @for (cm of row.controlMeasures; track cm) {
                            <tr>
                                <td class="actions-column-cm">
                                    <div class="actions-container">
                                        <div class="dropdown w-100">
                                            <button class="btn btn-sm btn-outline-secondary w-100" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                [disabled]="isEditingControlMesure()">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="dropdown-item text-secondary"
                                                        (click)="onEditControlMesureClick(cm, row.id!)"
                                                        title="{{ 'EDIT' | translate }}">
                                                        <i class="bi bi-pencil me-2"></i> {{ 'EDIT' | translate }}
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item text-secondary"
                                                        (click)="onDeleteControlMesureClick(cm)"
                                                        title="{{ 'DELETE' | translate }}">
                                                        <i class="bi bi-trash me-2"></i> {{ 'DELETE' | translate }}
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ cm.administrativeMeasures }}</td>
                                <td>{{ cm.epi }}</td>
                                <td>{{ cm.epc }}</td>
                            </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        }
        }
    </tbody>
</table>
}