.risk-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    font-weight: bold;
    background-color: var(--color-background-light);
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    text-align: left;
}

td {
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    vertical-align: middle;
    font-size: small;
    align-content: center;
}

.hazard-cell {
    background-color: var(--color-background-light);
}

.actions-column {
    width: 6%;
}

.actions-column-cm {
    width: 3%;
}

.harm-column {
    width: 20%;
}

.danger {
    background-color: var(--color-danger-light);
}

.warn {
    background-color: var(--color-warning-light);
}

.actions-container {
    display: flex;
    gap: 0.3rem;
}

@media (max-width: 1500px) {
    .actions-container {
        flex-direction: column;
    }
}

.administrative-measure-column-cm {
    width: 40%;
}

.epi-column-cm {
    width: 10%;
}

.epc-column-cm {
    width: 10%;
}

.actions-container-cm {
    width: 3%;
    display: flex;
    gap: 0.3rem;
}