<div class="form-container">
  <div>
    @if(inventory?.name){
    <h3>{{'INCLUDE_WORK_UNIT' | translate}} - {{inventory?.name}}</h3>
    } @else {
    <h3>{{'INCLUDE_WORK_UNIT' | translate}}</h3>
    }
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 card-container" style="margin-top: 32px;">
      @for (el of inventory?.workUnits; track el) {
      <app-card [cardTitle]="el?.name ?? ''" [cartBodyText]="('ROLES' | translate) + ' : ' + getCardText(el)"
        [btnIconName]="'bi bi-clipboard2-fill'" [cradSubTitle]="('DEPARTMENT' | translate) + ' : ' + el.departmentName"
        [enableDeleteBtn]="true" (onDeleteAction)="onDeleteAction($event)" (onAction)="onCardAction($event)"
        [cartId]="el?.id?.toString() ?? ''"></app-card>
      }
    </div>
    <div class="col-12 col-lg-8">
      <app-department-binding-grid></app-department-binding-grid>
    </div>
  </div>
</div>