<div class="container">
  <app-dynamic-form [title]="'ROLE' | translate" [formGroup]="formGroup" [onCreate]="handleCreate.bind(this)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="nameControl">{{ 'NAME' | translate }}</span>
          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="nameControl"
            formControlName="name">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="descriptionControl">{{ 'DESCRIPTION' | translate }}</span>
          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="descriptionControl"
            formControlName="description">
        </div>
        <div class="mb-3">
          <app-dropdown-input inputId="departmentDataList" formControlName="department" [label]="'DEPARTMENT'"
            [options]="departmentOptions" (search)="fetchDepartments($event)"
            (optionSelected)="onDepartmentSelectionChange($event)"></app-dropdown-input>
        </div>
      </div>
    </div>
  </app-dynamic-form>
  <div class="row">
    <div class="col-md-6">
      <app-dynamic-table [data]="dataTable" [canEdit]="true" (onEdit)="handleEdit($event)"
        (onPageChange)="fetchRoles($event)" [totalPages]="totalPages" [totalItems]="totalItems"
        [currentPage]="currentPage" [pageSize]="pageSize"></app-dynamic-table>
    </div>
  </div>
</div>