<!-- ROW FACTORS TABLE -->
@if (assessment() && assessment()?.rows) {
<table class="risk-table">
    <thead>
        <tr>
            <th class="actions-column">{{"ACTIONS" | translate}}</th>
            <th class="factor-column">{{"FACTOR" | translate}}</th>
            <th class="intensity-column">{{"INTENSITY" | translate}}</th>
            <th class="technique-column">{{"TECHNIQUE" | translate}}</th>
            <th class="source-column">{{"SOURCE" | translate}}</th>
            <th class="exposure-column">{{"EXPOSURE_TIME" | translate}}</th>
            <th class="harm-column">{{"HARM" | translate}}</th>
            <th class="matrix-column">{{"CHANCE" | translate}}</th>
            <th class="matrix-column">{{"SEVERITY" | translate}}</th>
            <th class="score-column">{{"SCORE" | translate}}</th>
        </tr>
    </thead>
    <tbody>
        @for (row of assessment()?.rows; track row.id) {
        <tr class="factor-row">
            <td class="actions-column" [attr.data-label]="'ACTIONS' | translate">
                <div class="actions-container">
                    <div class="dropdown w-100">
                        <button class="btn btn-sm btn-outline-secondary w-100" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots-vertical icon-cell"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onEditClick(row)"
                                    title="{{ 'EDIT' | translate }}">
                                    <i class="bi bi-pencil me-2"></i> {{ 'EDIT' | translate }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onDeleteClick(row)"
                                    title="{{ 'DELETE' | translate }}">
                                    <i class="bi bi-trash me-2"></i> {{ 'DELETE' | translate }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item text-secondary" (click)="onInsertControlMesureClick(row)"
                                    title="{{ 'INSERT_CONTROL_MEASURE' | translate }}">
                                    <i class="bi bi-save me-2"></i> {{ 'INSERT_CONTROL_MEASURE' | translate }}
                                </button>
                            </li>
                        </ul>
                    </div>
                    @if(row.controlMeasure){
                    <button class="btn btn-sm btn-outline-secondary w-100" (click)="toggleRow(row)"
                        title="{{ 'CONTROL_MEASURES' | translate }}">
                        <i class="bi" [ngClass]="isRowExpanded(row) ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
                    </button>
                    }
                </div>
            </td>
            <td class="factor-column" [attr.data-label]="'FACTOR' | translate">{{row.factor.description}}</td>
            <td class="intensity-column" [attr.data-label]="'INTENSITY' | translate">{{row.intensity}}</td>
            <td class="technique-column" [attr.data-label]="'TECHNIQUE' | translate">{{row.technique}}</td>
            <td class="source-column" [attr.data-label]="'SOURCE' | translate">{{row.source}}</td>
            <td class="exposure-column" [attr.data-label]="'EXPOSURE_TIME' | translate">
                {{getExposureTimeEnumString(row.exposureTime) | translate}}</td>
            <td class="harm-column" [attr.data-label]="'HARM' | translate">{{row.harm}}</td>
            <td class="matrix-column" [attr.data-label]="'CHANCE' | translate">{{getMatrixEnumString(row.probability) |
                translate}}</td>
            <td class="matrix-column" [attr.data-label]="'SEVERITY' | translate">{{getMatrixEnumString(row.severity) |
                translate}}</td>
            <td [ngClass]="
                {'danger': row.score && row.score == 5,
                    'warn': (row.score && row.score == 4)
                }" [attr.data-label]="'SCORE' | translate">
                {{getRiskString(row.score || 100) | translate}}
            </td>
        </tr>
        <!-- CONTROL MEASURES -->
        @if (isRowExpanded(row)) {
        <tr class="control-measures-subtable border-0 shadow-none p-0 mb-0">
            <td colspan="10" class="control-measures-td p-0 border-0">
                @if(row.controlMeasure){
                <div class="p-3 bg-light m-2 rounded border row w-100">
                    <div class="col-10 col-lg-11">
                        <h6 class="mb-3">{{ "CONTROL_MEASURE" | translate }}</h6>
                    </div>
                    <div class="col-2 col-lg-1">
                        <div class="actions-container">
                            <div class="dropdown w-100">
                                <button class="btn btn-sm btn-outline-secondary w-100" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item text-secondary" title="{{ 'EDIT' | translate }}">
                                            <i class="bi bi-pencil me-2"></i> {{ 'EDIT' | translate }}
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item text-secondary" title="{{ 'DELETE' | translate }}">
                                            <i class="bi bi-trash me-2"></i> {{ 'DELETE' | translate }}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @if(row.controlMeasure!.administrativeMeasure){
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <strong class="d-inline-block mb-1">{{ 'ADMINISTRATIVE_MEASURE' | translate }}:</strong>
                            </div>
                            <div class="col-9">
                                {{ row.controlMeasure!.administrativeMeasure }}
                            </div>
                        </div>
                    </div>
                    }
                    @if(row.controlMeasure!.epc){
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <strong class="d-inline-block mb-1">{{ 'EPC' | translate }}:</strong>
                            </div>
                            <div class="col-8">
                                {{ row.controlMeasure!.epc }}
                            </div>
                        </div>
                    </div>
                    }
                    @if(row.controlMeasure!.epis && row.controlMeasure!.epis.length > 0){
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <strong class="d-inline-block mb-1">{{ 'EPI_LIST' | translate }}:</strong>
                            </div>
                            <div class="col-12">
                                <div class="mt-2 d-flex flex-wrap gap-2">
                                    @for (epi of row.controlMeasure.epis; track epi.id) {
                                    <span class="badge rounded-pill text-bg-light border d-flex align-items-center p-2">
                                        {{ epi.name }}
                                    </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                }
            </td>
        </tr>
        }
        }
    </tbody>
</table>
}